# config
/config/jei/world/
/config/jei/bookmarks.ini

# kubejs
/kubejs/assets/*
/kubejs/exported/*

# root folders
/not-enough-crashes/
/crash-reports/
/resourcepacks/
/screenshots/
/saves/
/logs/
/mods/

# root files
.curseclient
knownkeys.txt
minecraftinstance.json
options.txt
realms_persistence.json
TrashSlotSaveState.json
usercache.json
usernamecache.json
patchouli_data.json

# ide files
/.vscode/
