# config
/config/jei/world/
/config/jei/bookmarks.ini
/config/jei-client.toml
config/sodium-options.json

# kubejs
/kubejs/exported/*

# root folders
/not-enough-crashes/
/crash-reports/
/resourcepacks/
/screenshots/
/saves/
/logs/
/mods/
mods

# root files
knownkeys.txt
minecraftinstance.json
options.txt
realms_persistence.json
TrashSlotSaveState.json
usercache.json
usernamecache.json
patchouli_data.json
o_prof
enigmatic_persistence.dat

# launcher-related
.curseclient
icon.png
/server-resource-packs/
/coremods/

# remove before release
config/jei/recipe-category-sort-order.ini
config/jei/ingredient-list-mod-sort-order.ini
config/roughlyenoughitems/changelog.txt
config/roughlyenoughitems/config.json5
